@import "variable.scss";

//------------------------------------------ 初始化 -------------------------------------
#app {
  width: 100%;
  height: 100%;
  font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .page_container {
    width: 100%;
    height: 100%;
  }
}
html {
  position: fixed;
  left: 0;
  top: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
dl,
dt,
dd {
  margin: 0;
}
a {
  text-decoration: none;
}
//--------------------------------------------- 块大小 ---------------------------------------------
.w10p {
  width: 10%;
}
.w20p {
  width: 20%;
}
.w30p {
  width: 30%;
}
.w100 {
  width: 100px;
}
.w130 {
  width: 130px;
}
.h10 {
  height: 10px;
}
//--------------------------------------------- 块样式  --------------------------------------------
.bg-white {
  background: white;
}
//--------------------------------------------- 布局  --------------------------------------------
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  *zoom: 1;
}
//--------------------------------------------- 内外边距边框  --------------------------------------------
.m0 {
  margin-bottom: 0;
}
.mt5 {
  margin-top: 5px;
}
.mt8 {
  margin-top: 8px;
}

//--------------------------------------------- 文本 ---------------------------------------------
.f13 {
  font-size: 13px;
}
.f14 {
  font-size: 14px;
}
.f18 {
  font-size: 18px;
}
.f20 {
  font-size: 20px;
}
.red {
  color: $red;
}
.blue {
  color: $blue;
}
.green {
  color: $green;
}
.orange {
  color: $orange;
}
