// 颜色
$black: #000;
$red: #f56c6c;
$blue: #409eff;
$blue_a: #337ab7;
$yellow: #FAE100;
$orange: #ff6600;
$pink: #ff6e5f;
$white: #fff;
$green: #67c23a;
$border_ea: #eaeaea;
$border_79: #797979;
$active: #ffd04b;
$ground: #eee;
$soft: #fff5f7;

// 文字颜色
$c-99: #999;
$c-80: #808080;
$c-66: #666;
$c-33: #333;
$c-ee: #eee;
$c-2f: #2F2F2F;
$c-d2: #d2d2d2;
$c-d9: #d9d9d9;
$c-ee: #eee;
